body {
  background: rgb(190, 188, 188);
  background: linear-gradient(
    90deg,
    rgba(190, 188, 188, 0.0959734235491071) 0%,
    rgba(102, 96, 86, 0.205672610841212) 50%,
    rgba(190, 188, 188, 0.30157566444546573) 50%
  );

  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* intro */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/intro.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro_inner {
  height: 550px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.intro_title {
  color: #333;

  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.intro_title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: aliceblue;
  margin: 40px auto;
}

.intro_subtitle {
  margin-top: 70px;
  margin-bottom: 20px;
  color: linear-gradient(45deg, #6a85b6, #bac8e0);
  font-size: 72px;
  font-family: "Kaushan Script", cursive;
  text-align: center;
}

/* header */

.header {
  padding-top: 25px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 50px;
  font-weight: 700;
  color: #333;
}

/* nav */
.navv {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.nl {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.1s linear;
}

.nl:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  background-color: gold;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opasity 0.1s linear;
}

.nl:hover {
  color: gold;
}

.nl:hover:after {
  opacity: 1;
}

/* btn */

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 3px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  transition: background 0.1s linear, color 0.1s linear;
}

.btn:hover {
  background-color: #fff;
  color: gold;
}

/* slider */

.slider {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.slider_item {
  width: 23%;
  padding: 20px 0;
  position: relative;
  border-top: 3px solid #333;
  opacity: 0.7;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
}

.slider_item.active {
  opacity: 1;
}

.slider_item.active:before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  border-color: crimson;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
}

.sl {
  font-size: 24px;
  font-weight: 700;
}

/* section */

.section {
  padding: 80px 0;
}

.section--gray {
  background-color: rgba(51, 51, 51, 0.6);
}

.section--client{
  height: 830px;

  background: url(../images/iiiiiiiiii.jpg);
  background-size: cover;
}


.section--devices {
  padding: 20px;

  background: url(../images/icon/uuu.jpg) center;
  background-size: cover;
  height: 750px;
}

.section--map{
  height: 150px;
  padding: 50px ;
  background: #848994 url(../images/yyyyyy.jpg) center / cover ;
}

.section_header {
  background: rgb(190, 188, 188);
  background: radial-gradient(
    circle,
    rgba(190, 188, 188, 0) 0%,
    rgba(255, 255, 255, 0.3956933115042892) 50%,
    rgba(190, 188, 188, 0) 100%
  );
  margin-bottom: 40px;
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
  text-align: center;
}

.section_subtitle {
  font-size: 24px;
  color: #333;
  font-family: "Kaushan Script", cursive;
}

.section_title {
  font-size: 30px;
  color: #333;
  text-transform: uppercase;
}

.section_title:after {
  content: "";
  display: flex;
  width: 60px;
  height: 3px;
  margin: 30px auto;
  background-color: crimson;
}

.section_text {
  color: #333;
  font-size: 15px;
}

/* about */

.card {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.card_item {
  margin-bottom: 30px;
  position: relative;

  width: 380px;
}

.card_inner {
  position: relative;
  background-color: rgb(190, 188, 188);
  background: radial-gradient(
    circle,
    rgba(190, 188, 188, 0) 0%,
    rgba(255, 255, 255, 0.3956933115042892) 50%,
    rgba(190, 188, 188, 0) 100%
  );
}

.card_inner:hover .card_img {
  transform: translate3d(-10px, -10px, 0);
}

.card_inner:hover .card_img img {
  width: 380px;
  opacity: 0.6;
}

.card_inner:hover .card_text {
  opacity: 1;
}

.card_img {
  background-image: linear-gradient(to left, #f8faf9, #333);
  transition: transform 0.1s linear;
}

.card_img img {
  display: block;
  transition: opacity 0.1s linear;
}

.card_text {
  width: 100%;
  opacity: 0;
  font-size: 18px;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
}

.card_info {
  margin-top: 20px;
  text-align: center;
}

.cname {
  margin-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
}

.cprof {
  color: #333;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
}

/* static */

.static {
  background-color: rgba(51, 51, 51, 0.6);
}

.stat {
  display: flex;
}

.stat_item {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  flex: 1 1 0;
  border-left: 1px solid #fff;
}

.stat_item:last-child {
  border-right: 1px solid #fff;
}

.stc {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}

.stct {
  font-size: 14px;
  font-weight: 700;

  text-transform: uppercase;
}

/* services */

.services {
  display: flex;
}

.services_item {
  margin-bottom: 30px;
  width: 425px;
  text-align: center;
  margin-top: 20px;
  padding-left: 70px;
  padding-right: 20px;
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 1;
}

.services_title {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.services_text {
  font-size: 14px;
  color: #333;
}

/* devices */

.section_headerr {
  background: rgb(190, 188, 188);
  background: radial-gradient(
    circle,
    rgba(190, 188, 188, 0) 0%,
    rgba(255, 255, 255, 0.3956933115042892) 50%,
    rgba(190, 188, 188, 0) 100%
  );

  top: -30px;
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
  text-align: center;
}

.imgg {
  z-index: 9;
  width: 100%;
  position: relative;
}

.img_iph {
  position: absolute;
  left: 1100px;
  margin-top: 150px;
  z-index: 1;
}

.img_pl {
  position: absolute;
  left: 800px;
  margin-top: -57px;
}

/* wd */

.wd {
  
  
  display: flex;
}

.wd_itemm {
  margin-right: 70px;
  width: 45%;
}

.wd_item {
  width: 45%;
}

.tab input,
.tab-content {
  display: none;
}
.tab {
  background: rgb(190, 188, 188);
  background: radial-gradient(
    circle,
    rgba(190, 188, 188, 0) 0%,
    rgba(255, 255, 255, 0.3956933115042892) 50%,
    rgba(190, 188, 188, 0) 100%
  );
  font: 0.8rem/"Montserrat", sans-serif; /* Параметры шрифта */
  border: 1px solid #333; /* Параметры рамки */
  border-radius: 15px; /* Скругляем уголки */
  color: #848994; /* Цвет текста */
  margin-bottom: 20px; /* Расстояние между пунктами */
}

.tab:hover {
  background-color: #333;
  border: 2px solid #fff;
}
.tab-title {
  padding: 10px; /* Поля вокруг текста */
  display: block; /* Блочный элемент */
  text-transform: uppercase; /* Все буквы заглавные */
  font-weight: bold; /* Жирное начертание */
  cursor: pointer; /* Вид курсора */
}
.tab-title::after {
  content: "+"; /* Выводим плюс */
  float: right; /* Размещаем по правому краю */
}
.tab-content {
  padding: 10px 10px; /* Поля вокруг текста */
}
.tab :checked + .tab-title {
  background-color: #333; /* Цвет фона */
  border-radius: 15px 15px 0 0; /* Скругляем уголки */
  color: #fff; /* Цвет текста */
}
.tab :checked + .tab-title::after {
  content: "−"; /* Выводим минус */
}
.tab :checked ~ .tab-content {
  display: block; /* Показываем содержимое */
}

/* otz */

.rewiews {
  position: relative;
  background: rgb(190, 188, 188);
  background: radial-gradient(
    circle,
    rgba(190, 188, 188, 0) 0%,
    rgba(255, 255, 255, 0.3956933115042892) 50%,
    rgba(190, 188, 188, 0) 100%
  );
  padding: 0 110px;
}

.rewiews_item {
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 205px;
  position: relative;
}

.rewiews_ph {
  position: absolute;
  top: 30px;
  left: -20px;
  z-index: 1;
}

.rewiews_phh {
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: -30px;
  z-index: 1;
}

.rewiews_text {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #333;
}

.rewiews_author {
  font-size: 24px;
  color: #333;
  font-family: "Kaushan Script", cursive;
}

.rewiews_author:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;
  background-color: crimson;
}

.rwbtn {
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.rwbtn:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #333;
  border-left: 2px solid #333;
}

.rw--prev {
  left: 0;
  transform: rotate(-45deg);
}

.rw--next {
  right: 0;
  transform: rotate(135deg);
}

/* social */

.social {
  display: flex;
  justify-content: center;
}

.social_item {
  padding: 10px 10px;
  background: rgb(190, 188, 188);
  background: radial-gradient(
    circle,
    rgba(190, 188, 188, 0) 0%,
    rgba(255, 255, 255, 0.3956933115042892) 50%,
    rgba(190, 188, 188, 0) 100%
  );
  border-right: 1px solid #6a85b6;
  font-size: 35px;
  text-decoration: none;
  color: #fff;
  line-height: 1;
}

.social_item:hover {
  background-color: #333;
  border: 2px solid #fff;
}

/* logos */

.logos {
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgb(190, 188, 188);
  background: radial-gradient(
    circle,
    rgba(190, 188, 188, 0) 0%,
    rgba(255, 255, 255, 0.3956933115042892) 50%,
    rgba(190, 188, 188, 0) 100%
  );
}

.logos:active {
  background: rgb(103, 94, 94);
  background: radial-gradient(
    circle,
    rgba(103, 94, 94, 0.24723392775078779) 0%,
    rgba(235, 235, 235, 0.27244401178440125) 100%
  );
}

/* works */

.works {
  display: flex;
  flex: 1 1 0;
}

.works_col {
  
  
  flex: 1 1 0;
}

.wks_item {
  position: relative;
  background: rgb(190, 188, 188);
  background: radial-gradient(
    circle,
    rgba(190, 188, 188, 0) 0%,
    rgba(255, 255, 255, 0.3956933115042892) 50%,
    rgba(190, 188, 188, 0) 100%
  );
}

.wks_item:hover .works_image {
  opacity: 0.1;
}

.wks_item:hover .works_info {
  opacity: 1;
  z-index: 4;
}

.works_image {
  max-width: 100%;
  height: auto;
  
  display: block;
  transition: opacity 0.2s linear;
}

.works_info {
  text-align: center;
  color: #fff;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 3;
  transition: opacity .2s linear;
  transform: translate3d(0, -50%, 0);
}

.works_title {
  margin-bottom: 5px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}


.works_text{
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}


/* clients */

.clients{
 
  
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  
}
.clients_content{
  text-align-last: center;
  top: 50px;
  position: absolute;
}

.clients_item{
  
  height: 200px;
  
  background-color: rgb(190, 188, 188);
  background: radial-gradient(
    circle,
    rgba(190, 188, 188, 0) 0%,
    rgba(255, 255, 255, 0.3956933115042892) 50%,
    rgba(190, 188, 188, 0) 100%
  );
  
  
  width: 50%;
  padding: 0 45px 0 75px ;
  position: relative;
  margin-bottom: 60px;
}




.clients_photo{
  position: absolute;
  top: 0;
  left: 40px;
  
  z-index: 1;
}





.clients_name{
  
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;

}

.clients_prof{
  color: #fff;
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
}

.clients_text{
  font-size: 15px;
  color: #fff;
}

.clients_prof:after{
  
  padding-right: 20px;
  content: "";
  display: block;
  width: 110px;
  height: 3px;
  margin: 10px 0;
  background-color: crimson;
}

/* blog */


.blog{
  justify-content: space-between;
  display: flex;

}

.blog_item{
  width: 32%;
}

.blog_header{
  margin-bottom: 14px;
  position: relative;
}

.blog_photo{
  display: block;
  max-width: 100%;
  height: auto;
}

.blog_date{
  padding: 10px 20px;
  color: #fff;
  font-size:15px ;
  font-weight: 300;
  text-align: center;
  font-style: italic;
  background-color: rgb(108, 110, 110);
  position: absolute;
  bottom: 10px;
  left: -10px;
  z-index: 1;
}


.blog_date--day{
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  font-style: normal;
}

.blog_content{
  margin-bottom: 10px;

}


.blog_title{
  margin-bottom: 10px ;
  font-size: 14px ;
  color: #333;
  text-transform: uppercase;
}

.blog_title a{
  color: inherit;
  text-decoration: none;
}

.blog_title a:hover{
  text-decoration: underline;
}

.blog_text{
  font-size: 15px;
  color: #333;
}

.blog_footer{
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #333;
  padding-top: 14px;
  border-top:1px solid #333 ;
}

.blog-stat_item{
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.blog-stat_item{
  color:#333 ;
}

/* map */

.map{
  text-align: center;
}

.map_title{
  font-size: 24px;
  color: crimson;
  font-weight: bold;
  text-transform: uppercase;


}

.map_title:after{
  content: "";
  display: flex;
  width: 60px;
  height: 3px;
  margin: 10px auto 0;
  background-color: crimson;
}


.map_title a{
  text-decoration: none;
  color: inherit;
}

.map_title a:hover{
  text-decoration: underline;
}

/* footer */

.footer{
  padding-top: 50px;
  
}

.footer_inner{
  justify-content: space-between;
  display: flex;
  padding-bottom: 65px;
}

.footer_col--first{
  width: 40%;
}

.footer_col--second{
  width:29% ;
}

.footer_col--third{
  width: 22%;
}


.footer_logo{
  margin-bottom: 30px;
  font-size: 46px;
  font-weight: 700;
  color: #333;
}

.footer_text{
  margin-bottom: 30px;
  font-size: 15px;
  color: #333;
}

.footer_social-header{
  padding-bottom: 15px ;
  font-size: 14px;
  color: #333;

  border-bottom: 1px solid #333;

}

.footer_social-header b{
  font-size: 18px;

}

.footer_social-content{
  padding-top: 15px;
  font-weight: 300;
  font-style: italic;
  color: #333;
  padding-top: 15px;
}

.footer_social-content a{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 22px ;
  color: #333;
}

.footer_title{
  margin: 30px 0;
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
}

/* blogs */


.blogs_item{
  align-items: center;
  margin-bottom: 30px;
  display: flex;
}

.blogs_img{
  width: 120px;
  height: 80px;
}

.blogs_content{
  padding-left:20px ;
}

.blogs_title{
  line-height: 1.2;

  color: #333;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
.bdate{
  font-size: 13px;
  color: #98b8ff;
  font-style: italic;
  font-weight: 300;
}

.blogs_title:hover{
  text-decoration: underline;
}

/* sub */
.subs{
  display: flex;
  width: 100%;
  max-width: 380px;
}

.subs_input{
  border-right: 0;
  width: 60%;
  line-height: 1.1;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  padding: 12px;
  background: #fff;
  border: 1px solid #333;
  font-size: 15px;
  font-style: italic;
  color: #333;
}

.subs_input::placeholder{
  color: #848994;
}

.subs_input:focus{
  outline: 0;
  border-color:#ff0000 ;
}

.subs_btn{
  width: 40%;
  line-height: 1.1;
  padding: 12px 30px;
  font-weight: bold;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  height: 40px;
  background-color:#333;
  border: 0;
  cursor: pointer;
  transition: background .2s linear;

}

.subs_btn:hover{
  background-color:  rgb(65, 65, 55);
}

.subs_btn:focus{
  outline: 0;
}

/* inst */


.instagramm{
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;

}

.instagramm_item{
  width: 32.33333%;
  flex: 1 1 0;
  border: 1px solid #6a85b6;
}

.instagramm_item img{
  display: block;
}

/* copy */

.copy{
  color: #333;
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #333;
}




/* media */


@media (max-width: 1700px) {
  .works_col--hight{
    display: none;
    
  }

  .works_col--wight{
    width: 100%;
  }

  
  .wd{
    flex-direction: column;
    align-items: center;
  }

  .wd_itemm{
    width: 50%;

    
  }
  .card{
    justify-content: space-around;
    
  }
  .img_logos{
    margin-left: -100px;
  }
  .container{
    width: 1000px;
  }


  .img_iph{
    margin-top: 200px;
    width:200px ;
    height:330px ;
    left: 850px;
  }

  .img_pl{
    margin-top: 5px;
    width: 330px;
    height: 500px;
    left: 550px;
  }
}
/* burger */
.burger-menu{
  display: none;
}

.menu-btn{
  margin-top: 30px;
  margin-right: 130px;
  
  
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right:0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
}
 
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #333;
  transition-duration: .25s;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}




.menubox{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgba(36, 30, 30, 0.8);
  box-shadow: 1px 0px 6px rgba(36, 30, 30, 0.5);
  transition-duration: .25s;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition-duration: .25s;
}
.menu-item:hover {
  background-color: #fff;
  color: gold;
}

#menu-toggle{
  opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  left: 0;
}




/* ....... */



@media (max-width: 1550px) {
  .container{
    width: 800px;
  }

  .intro_title{
    font-size: 100px;
  }
 


  .img_iph{
    margin-top: 200px;
    width:200px ;
    height:330px ;
    left: 700px;
  }

  .img_pl{
    margin-top: 5px;
    width: 330px;
    height: 500px;
    left: 400px;
  }

  .img_logos{
    margin-left: -200px;
  }

  .wd_itemm{
    margin-left: -150px;

  }

  .clients{
    margin-left: -50px;
   
    width: 900px;
    height: 550px;
  }
    
  .clients_item{
    
    padding-left: 20px;
  }

  .rewiews{
    padding: 0 50px;
  }

  .card{
    margin-top: 100px;
  }

    
  
}


@media (max-width: 1230px){
  .container{
   width:px ; 
  }

  .intro_title{
    font-size: 100px;
  }
  
  .logos img{
    margin-left: 0px;
     width: 800px;

     
     
   }


  .intro{
    background-size: auto;
  }

  .img_logos{
    margin-left: -250px;
  }

  .clients{
    margin-left: -70px;
   
    width: 900px;
    height: 550px;
  }
}

@media (max-width: 1230px){

  .navv{
    display: none;
  }
  .burger-menu{
    display: block;
  }
  .menu-btn{
    margin-right: 150px;
  }
  .card{
    
    flex-direction: column;

    align-items: center;
  }
  .clients{
    
    margin-top: -40px;
    flex-wrap: wrap;
    width: 50%;
  }

  .section--client{
    background: cover;
    
    height: 1200px;
  }

  .client_photo {
    margin-left: 30px;
    


  }

  .clients_content{
    left: 50px;
    top: 50px;
  }

  .clients_item{
    width: 900px;
    height: 190px;
    left: 250px;
  }
}


@media (max-width: 1200px){
  .logos img{
   margin-left: 0px;
    width: 800px;
    
  }
}


@media (max-width: 1050px){

  .intro{
    height: 1000px;
  }
  .intro_title{
    font-size: 80px;
  }

  .stc{
    font-size: 50px;
  }


  .clients{
    
    margin-top: -40px;
    flex-wrap: wrap;
    width: 50%;
  }

  .section--client{
    
    height: 1200px;
  }

  .client_photo {
    margin-left: 30px;
    


  }

  .clients_content{
    left: 50px;
    top: 50px;
  }

  .clients_item{
    width: 900px;
    height: 190px;
    left: 250px;
  }

  .img_iph{
    margin-top: 200px;
    width:200px ;
    height:330px ;
    left: 650px;
  }

  .img_pl{
    margin-top: 5px;
    width: 330px;
    height: 500px;
    left: 350px;
  }


}

@media (max-width: 850px){
  .img_iph{
    margin-top: 200px;
    width:190px ;
    height:330px ;
    left: 600px;
  }

  .img_pl{
    margin-top: 120px;
    width: 250px;
    height: 370px;
    left: 400px;
  }
}


@media (max-width: 800px){

  .container{
    width: 650px;
  }

  .intro{
    height: 1000px;
  }
  .menu-btn{
    margin-right: 50px;
  }
  .img_iph{
    margin-top: 200px;
    width:190px ;
    height:330px ;
    left: 500px;
  }

  .img_pl{
    margin-top: 120px;
    width: 250px;
    height: 370px;
    left: 300px;
  }

  .rewiews{
    height: 300px;
  }

  .rewiews_text{
    font-size: 18px;
  }

  
  .logos img{
   
    width: 600px;
    
  }

  .logos{
     padding-left: 30px;
  }
}

